body {
    /*background-image: url('../../images/background.jpg');*/
    background-color:black;

}
img{
    margin: 0px 2px;
    height: 80px;
    width: 80px;

}
table {
    width: 100%;
}

tr{

}

td{

}

th {

    
}

p {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#centerLayer {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 330px;
    height: 350px;
    opacity: 0;
    padding: 10px;
    overflow: auto;
}