body {
    /*background-image: url('../../images/background.jpg');*/
    background-color:black;

}
img{
    margin: 0px 1px;
    height: 80px;
    width: 80px;
}
table {
    width: 100%;
}

tr{

}

td{

}

th {

    
}