@{ 
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Первое испытание</title>
    <link rel="stylesheet" href="~/css/style1.css" />
</head>
<body>
    <audio controls="controls" title="первая песня">
        <source src="~/content/1.mp3" type="audio/mp3">
        Классная песня
    </audio>

    <video controls="controls" width="800" height="800" autoplay="autoplay" title="iton.tv">
        <source src="~/content/2.mp4" type="video/mp4"/>
        цензура в интернете
    </video>
</body>
</html>