@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Первое испытание</title>
    <link rel="stylesheet" href="~/css/style1.css" />
</head>
<body>

    <div id="centerLayer">
        <p>
            <a target="_blank" href="https://russian.rt.com/"><img src="~/images/RT.jpg" alt="RT" /></a>
            <a target="_blank" href="http://www.bbc.com/russian"><img src="~/images/BBC.jpg" alt="BBC" /></a>
            <a target="_blank" href="http://www.dw.com/ru"><img src="~/images/DW.jpg" alt="DW" /></a>
            <a target="_blank" href="http://ru.euronews.com/"><img src="~/images/Euronews.jpg" alt="Euronews" /></a>
            <a target="_blank" href="http://lenta.ru/"><img src="~/images/Lenta.jpg" alt="Lenta" /></a>
            <a target="_blank" href="http://ria.ru/"><img src="~/images/RIA.jpg" alt="RIA" /></a>
            <a target="_blank" href="http://izvestia.ru/"><img src="~/images/Izvestia.jpg" alt="Izvestia" /></a>
            <a target="_blank" href="http://tass.ru/"><img src="~/images/Tass.jpg" alt="Tass" /></a>
            <a target="_blank" href="http://www.1tv.ru/"><img src="~/images/1tv.jpg" alt="1tv" /></a>
            <a target="_blank" href="http://vgtrk.com/"><img src="~/images/Vgtrk.png" alt="Vgtrk" /></a>
            <a target="_blank" href="http://www.iton.tv/"><img src="~/images/Iton.jpg" alt="Iton" /></a>
            <a target="_blank" href="http://tvzvezda.ru/"><img src="~/images/Zvezda.jpg" alt="Zvezda" /></a>
            <a target="_blank" href="http://ont.by/"><img src="~/images/ONT.jpg" alt="ONT" /></a>
            <a target="_blank" href="http://lifenews.ru/"><img src="~/images/LiveNews.jpg" alt="LiveNews" /></a>
            <a target="_blank" href="http://www.rbc.ru/"><img src="~/images/RBK.jpg" alt="RBK" /></a>
            <a target="_blank" href="http://inosmi.ru/"><img src="~/images/InoSmi.jpg" alt="InoSmi" /></a>
        </p>
    </div>

    <script src="~/js/script1.js" type="text/javascript" async></script>
</body>
</html>